@model LoginViewModel

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h4 class="text-center">Giriş Yap</h4>
        <hr />
        <form asp-controller="User" asp-action="Login" method="post" class="border p-4 rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Email" class="font-weight-bold">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Email adresinizi girin" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Password" class="font-weight-bold">Şifre</label>
                <input asp-for="Password" class="form-control" placeholder="Şifrenizi girin" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input asp-for="RememberMe" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" asp-for="RememberMe">Beni Hatırla</label>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
            <a href="@Url.Action("Register","User")" class="d-block text-center mt-3">Kayıt Ol</a>
        </form>
    </div>
</div>