<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin Panel</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Yönetim
    </div>

    <!-- Nav Item - Kullanıcılar -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Admin" asp-action="UserList">
            <i class="fas fa-fw fa-users"></i>
            <span>Kullanıcılar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Category" asp-action="Index">
            <i class="fas fa-fw fa-th-list"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Survey" asp-action="Index">
            <i class="fas fa-fw fa-list"></i>
            <span>Tüm Anketler</span>
        </a>
    </li>
     <li class="nav-item">
        <a class="nav-link" asp-controller="Survey" asp-action="Create">
            <i class="fas fa-fw fa-list"></i>
            <span>Yeni Anket</span>
        </a>
    </li>

  

    
      <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Logout">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Chat Yönetimi -->
    <li class="nav-item">
        <a class="nav-link" asp-controller="Chat" asp-action="Index">
            <i class="fas fa-fw fa-comments"></i>
            <span>Chat Yönetimi</span>
        </a>
    </li>

</ul>